* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f1fd;
}

/*  H E A D E R  */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titolo-pagina {
  text-align: center;
  margin: 20px;
}

.capo-ricerca {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 200px;
}


/*  C  A  R  D  */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 300px;
  padding: 15px;
  margin: 10px;
  border: 2px solid #ddd;
  background-color: bisque;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-position {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 6px;
}

.card-biography {
  font-size: 14px;
  line-height: 1.4;
  color: #666;
}